name: Terraform Grafana

on:
  push:
    branches: [ main ]
    paths:
      - "**.tf"
      - "dashboards/**"
  workflow_dispatch: {}

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_VAR_grafana_url: ${{ secrets.GRAFANA_URL }}
      TF_VAR_grafana_api_token: ${{ secrets.GRAFANA_API_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve
